$backgroundColor: #ffffff;
$bodyColor: #343a40;
$bodyFont: mauritius,
serif;
$headingFont: trumpgothicpro,
sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headingFont;
}

.blog-header {
  border-bottom: 1px solid #e5e5e5;

  &-logo {
    font-family: $headingFont;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3rem;

  }
}

nav {
  a.active {
    text-decoration: underline;
  }
}

.jumbotron {
  >* {
    transition: 0.3s all;
  }
  &:hover {
    >* {
      color: black;

    }
  }
}
.text-black {
  color: $bodyColor;
}

.no-underline {
  &:hover {
    text-decoration: none;
  }
}

.card-img-right { 
  display: block;
  max-width:200px;
  max-height:250px;
  width: auto;
  height: auto;
  object-fit: cover;

}