$backgroundColor: #ffffff;
$bodyColor: #343a40;
$bodyFont: mauritius, serif;
$headingFont: trumpgothicpro, sans-serif;

$brandingColor: rgb(51, 51, 255);

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headingFont;
  font-weight: 600;
}

.selecteur-parent {
  .selecteur-enfant {
    .selecteur-petit-enfant {

    }
  }
}

.blog-header {
  border-bottom: 1px solid blue;
  &-logo {
    font-family: $headingFont;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3rem;
  }
  &-subtitle {
    font-size: .5rem;
  }
}

nav {
  a.active {
    text-decoration: underline;
  }
}

.jumbotron {
  >* {
    transition: 0.3s all;
  }

  &:hover {
    >* {
      color: black;

    }
  }
}

.text-black {
  color: $bodyColor;
}

.no-underline {
  &:hover {
    text-decoration: none;
  }
}

.card-img-right {
  display: block;
  max-width: 200px;
  max-height: 250px;
  width: auto;
  height: auto;
  object-fit: cover;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: $brandingColor;
  border-top: .05rem solid #e5e5e5;
}

.post-image {
  overflow: hidden;
  position: relative;
  height: 300px;
  width: 100%; 
   img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
   }
}