$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: mauritius,
serif;
$headingFont: trumpgothicpro,
sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headingFont;
}

.blog-header {
  border-bottom: 1px solid #e5e5e5;
  &-logo {
    font-family: $headingFont;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3rem;
    
  }
}