<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-CH" }}">
{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}
    {% include nav.html %}
    {% for post in site.posts %}
    {% if post.title == page.jumbotron %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url('{{post.image | relative_url}}');">
      <div class="col-md-6 px0">
        <h1 class="display-3 font-weight-bold text-uppercase ">{{post.title}}</h1>
        <p class="font-weight-bold lead my-3">
          {{post.subtitle}}
        </p>
        <p class="lead mb-0">
          <a href="{{post.url | relative_url}}" class="text-white font-weight-bold">Continue reading...</a>
        </p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</body>

</html>